<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= list.name %> - Details</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <%- include('partials/navigation', { menuLinks: menuLinks, activeLinkPath:
      activeLinkPath }); %>
    <main class ="layout">
      <aside class="sidebar">
        <h2>Your Lists</h2>
        <ul class="list_menu">
          <% savedLists.forEach(list => { %>
          <li><a href="/lists/<%= list.name %>"><%= list.name %></a></li>
          <% }); %>
        </ul>
        <div id="modalOverlay" class="modal-overlay hidden">
          <div class="modal-window">
            <h2>Create New List</h2>
            <form action="/lists/add" method="POST">
              <input type="text" name="name" placeholder="List name" required />
              <div style="margin-top: 1rem;">
                <button class ="button" type="submit" class="button">Create</button>
                <button type="button" class="button close-modal">Cancel</button> 
              </div>
            </form>
          </div>
        </div>
        <button class="create_list_btn_sb" id="openModalBtn">+ Create New List</button>
      </aside>

      <section class="content_area">
        <h1 class="heading"><%= list.name %></h1>
        <form class= "delete_list" action="/lists/<%= list.name %>?_method=DELETE" method="POST"
            onsubmit="return confirm('Are you sure you want to delete this list?');">
            <button class="button" type="submit">Delete the list</button>
        </form>
        <ul class="book_list">
          <% savedBooks.forEach(book => { %>
          <li class="book_card">
            <div class = "book_image_container">
                <img src="<%= book.thumbnail %>" alt="<%= book.title %> cover" />
                <div class = "book_overlay">
                  <p><%= book.title %></p>
                  <p><%= book.description %></p>
                    <div class="overlay_actions">

                        <form action="/lists/<%= favouritesList.name %>/add-book" method="POST">
                          <input type="hidden" name="id" value="<%= book.id %>">
                          <input type="hidden" name="title" value="<%= book.title %>">
                          <input type="hidden" name="authors" value="<%= book.authors %>">
                          <input type="hidden" name="description" value="<%= book.description %>">
                          <input type="hidden" name="thumbnail" value="<%= book.thumbnail %>">
                          <button title="Add to Favorites" class="icon_button" type="submit">
                            <img src="/icons/heart (3).png" alt="Add to Favorites" class="icon_image">
                          </button>
                        </form>

                        <form action="/lists/<%= toBeReadList.name %>/add-book" method="POST">
                          <input type="hidden" name="id" value="<%= book.id %>">
                          <input type="hidden" name="title" value="<%= book.title %>">
                          <input type="hidden" name="authors" value="<%= book.authors %>">
                          <input type="hidden" name="description" value="<%= book.description %>">
                          <input type="hidden" name="thumbnail" value="<%= book.thumbnail %>">
                          <button title="Add to To Be Read" class="icon_button" type="submit">
                            <img src="/icons/save-instagram.png" alt="Add to Favorites" class="icon_image">
                          </button>
                        </form>

                        <form action="/lists/<%= readList.name %>/add-book" method="POST">
                          <input type="hidden" name="id" value="<%= book.id %>">
                          <input type="hidden" name="title" value="<%= book.title %>">
                          <input type="hidden" name="authors" value="<%= book.authors %>">
                          <input type="hidden" name="description" value="<%= book.description %>">
                          <input type="hidden" name="thumbnail" value="<%= book.thumbnail %>">
                          <button title="Add to Read" class="icon_button" type="submit">
                            <img src="/icons/check.png" alt="Add to Favorites" class="icon_image">
                          </button>
                        </form>
                        <div class="custom_list_dropdown">
                          <button class="icon_button" title="Add to Custom List" onclick="toggleDropdown(this)">
                            <img src="/icons/add.png" alt="Add to Favorites" class="icon_image">
                          </button>
                          <div class="dropdown_menu">
                            <% savedLists.forEach(list => { %>
                              <form action="/lists/<%= list.name %>/add-book" method="POST">
                                <input type="hidden" name="id" value="<%= book.id %>">
                                <input type="hidden" name="title" value="<%= book.title %>">
                                <input type="hidden" name="authors" value="<%= book.authors %>">
                                <input type="hidden" name="description" value="<%= book.description %>">
                                <input type="hidden" name="thumbnail" value="<%= book.thumbnail %>">
                                <button class="dropdown_item" type="submit"><%= list.name %></button>
                              </form>
                            <% }) %>
                            <button class="create_list_btn_dp_dwn">+ Create New List</button>
                          </div>
                        </div>
                    </div>
                  <form action="/lists/<%= list.name %>/delete-book/<%= book.id %>?_method=DELETE" method="POST"
                    onsubmit="return confirm('Are you sure you want to delete this book?');">
                    <button class="button" type="submit">Delete</button>
                  </form>
                    
                </div>
            </div>
              <p class="book_title"><%= book.title %></p>
              <p class="book_authors"><%= book.authors %></p>
          </li>
          <% }); %>
        </ul>
      </section>
    </main>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const modal = document.getElementById('modalOverlay');
        const openBtns = document.querySelectorAll(".create_list_btn_dp_dwn");
        const closeBtns = document.querySelectorAll('.close-modal');
        const openBtn = document.getElementById('openModalBtn');

        openBtns.forEach(openBtn => {
          openBtn.addEventListener('click', () => {
            modal.classList.remove('hidden');
          });
        });

        openBtn.addEventListener('click', () => {
          modal.classList.remove("hidden");
        });

        closeBtns.forEach(btn => {
          btn.addEventListener('click', () => {
            modal.classList.add('hidden');
          });
        });

        modal.addEventListener('click', (e) => {
          if (e.target === modal) {
            modal.classList.add('hidden');
          }
        });
      });
    </script>
    <script>
      function toggleDropdown(button) {
        const dropdown = button.nextElementSibling;
        dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
      }


      document.addEventListener('click', function (e) {
        document.querySelectorAll('.dropdown_menu').forEach(menu => {
          if (!menu.parentElement.contains(e.target)) {
            menu.style.display = 'none';
          }
        });
      });
    </script>
    <div id="modalOverlay" class="modal-overlay hidden">
      <div class="modal-window">
        <h2>Create New List</h2>
        <form action="/lists/add" method="POST">
          <input type="text" name="name" placeholder="List name" required />
          <div style="margin-top: 1rem;">
            <button class ="button" type="submit" class="button">Create</button>
            <button type="button" class="button close-modal">Cancel</button> 
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
