<html>
  <head>
    <meta charset="UTF-8" />
    <title>Book Search Results</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
            <%- include('partials/navigation', { menuLinks, activeLinkPath }) %>
    <main class="layout">
      <aside class="sidebar">
        <form class="search_sidebar" action="/search" method="GET">
          <div class="search_group_sb">
            <input 
              id="query" 
              class="search_input_sb" 
              type="text" 
              name="q"
              placeholder="Search for books" />
          </div>
          <button class="search_btn_sb" type="submit">Search</button>
        </form>
      </aside>

      <section class="content_area">
        <h1 class="heading">Results for "<%= query %>"</h1>

        <ul class="book_list">
          <% books.forEach(book => { %>
          <li class="book_card">
              <div class = "book_image_container">
                <img src="<%= book.thumbnail %>" alt="<%= book.title %> cover" />
                  <div class = "book_overlay">
                    <p><%= book.title %></p>
                    <p><%= book.description %></p>
                    <form action="/add" method="POST">
                      <input type="hidden" name="id" value="<%= book.id %>">
                      <input type="hidden" name="title" value="<%= book.title %>">
                      <input type="hidden" name="authors" value="<%= book.authors.join(', ') %>">
                      <input type="hidden" name="description" value="<%= book.description %>">
                      <input type="hidden" name="thumbnail" value="<%= book.thumbnail %>">
                      <button class = "button" type="submit">Add to List</button>
                    </form>
                  </div>
              </div>
            <p class="book_title"><%= book.title %></p>
            <p class="book_authors"><%= book.authors.join(', ') %></p>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>
  </body>
</html>
